:host-context {
  width: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}

.main-box {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
