<app-window-size-box
  [appIsFixed]="false">
  <div class="scroll-box" style="width: 100%; height: 100%;">
    <cdk-virtual-scroll-viewport
      appScrollCheck
      appExpandSizeToParent
      [appScrollCheckTarget]="'self'"
      (onScrolled)="virtualScrolled($event);"
      itemSize="50"
      class="example-viewport">
      <div *cdkVirtualFor="let item of items" class="example-item">
        <div>
          {{ item.title }}
        </div>
        <div>
          {{ item.content }}
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</app-window-size-box>
