:host-context {
  display: inline-flex;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}

.main-box {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
