<app-div>
  <app-list
    [appDefaultMarginBottom]="'10px'">
    <ng-template appListItem>
      item 1
    </ng-template>
    <ng-template appListItem [appMarginBottom]="'0'">
      item 2
    </ng-template>
  </app-list>
</app-div>
<app-div>
  <app-list
    [appDefaultDirection]="'horizontal'">
    <ng-template appListItem [appWidth]="'50%'">
      item 1
    </ng-template>
    <ng-template appListItem [appWidth]="'50%'" [appJustifyContent]="'flex-end'">
      item 2
    </ng-template>
  </app-list>
</app-div>
<app-div>
  <app-list
    [appDefaultDirection]="'horizontal'"
    [appDefaultUlAlignItems]="'stretch'"
    [appDefaultItemJustifyContent]="'flex-end'">
    <ng-template appListItem [appWidth]="'35%'" [appJustifyContent]="item1JustifyContent">
      item 1 <br />
      ... <br />
      ... <br />
    </ng-template>
    <ng-template appListItem [appWidth]="'50%'" [appJustifyContent]="'flex-end'">
      item 2
    </ng-template>
  </app-list>
</app-div>
