<app-div [appDisplay]="'block'">
  <table appTableStyleA>
    <caption></caption>
    <thead>
      <tr>
        <th>
          no
        </th>
        <th>
          title 1
        </th>
        <th>
          title 2
        </th>
        <th>
          title 3
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of items">
        <tr>
          <td>
            {{ item.no }}
          </td>
          <td>
            {{ item.title }}
          </td>
          <td>
            ""
          </td>
          <td>
            ""
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</app-div>

<app-div>
  <button (click)="changeList();">리스트 내용 변경</button>
</app-div>
