<app-div [appDisplay]="'block'">
  <table appTableStyleA>
    <caption></caption>
    <thead>
      <tr>
        <th>
          no
        </th>
        <th>
          title 1
        </th>
        <th>
          title 2
        </th>
        <th>
          title 3
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1
        </td>
        <td>
          내용 1
        </td>
        <td>
          내용 2
        </td>
        <td>
          내용 3
        </td>
      </tr>
    </tbody>
  </table>
</app-div>
