<app-div
  [appBorderColorStyle]="'blue'"
  [appBorderWeight]="'1px'"
  [appBorderRadius]="'10px'"
  [appPadding]="'10px 10px 0 10px'"
  [appMargin]="'10px'">
  <app-list [appDefaultDirection]="'horizontal'" [appDefaultItemMarginRight]="'10px'" [appDefaultItemMarginBottom]="'10px'">
    <ng-template appListItem>
      <button routerLink="list">list</button>
    </ng-template>
    <ng-template appListItem>
      <button routerLink="table-style">table-style</button>
    </ng-template>
    <ng-template appListItem>
      <button routerLink="swiper">swiper</button>
    </ng-template>
    <ng-template appListItem>
      <button routerLink="accordion-box">accordion-box</button>
    </ng-template>
    <ng-template appListItem>
      <button routerLink="div">div</button>
    </ng-template>
    <ng-template appListItem>
      <button routerLink="empty-row">empty-row</button>
    </ng-template>
    <ng-template appListItem>
      <button routerLink="empty-column">empty-column</button>
    </ng-template>
    <ng-template appListItem>
      <button routerLink="scroll-check">scroll-check</button>
    </ng-template>
    <ng-template appListItem>
      <button routerLink="element-size-position-info">element-size-position-info</button>
    </ng-template>
    <ng-template appListItem>
      <button routerLink="ckeditor-custom">ckeditor-custom</button>
    </ng-template>
  </app-list>
</app-div>

<app-div
  [appDisplay]="'block'"
  [appPadding]="'10px'">
  <router-outlet></router-outlet>
</app-div>
